/* Global styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
h1 {
    color: #007bff;
    font-size: 2.2em;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

/* Form */
form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 50px;
    border-radius: 8px;
    width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; /* Add some space at the bottom */
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #495057;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px; /* Increase padding for more comfortable typing */
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

button[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Results Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

td {
    background-color: #f9f9f9;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.property-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.property-info p {
    margin: 8px 0;
    color: #333;
}

.property-info p strong {
    color: #007bff;
}

h2 {
    color: #007bff;
    font-size: 1.8em;
    margin-top: 30px;
    text-align: center;
}
.autocomplete-suggestions {
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}